
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form method="post">
    <input type="hidden" name="id" value="@ViewBag.Abonent.Id" />
    <div>
        <input type="text" name="image" value="@ViewBag.Abonent.Image" />
    </div>
    <div>
        <input type="text" name="name" value="@ViewBag.Abonent.Name" />
    </div>
    <div>
        <input type="text" name="surName" value="@ViewBag.Abonent.SurName" />
    </div>
    <div>
        <input type="text" name="number" value="@ViewBag.Abonent.Number" />
    </div>
    <button>Save</button>
</form>